[user]
	name = Jonas Schmid
	email = jonas.schmid@gmail.com
	signingkey = C7465518
[credential]
	helper = osxkeychain
[alias]
	edit-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; code `f`"
	l = "log --pretty=oneline --abbrev-commit"
	s = "status -sb"
	r = "rebase"
	ri = "rebase -i"
	ra = "rebase --abort"
	rc = "rebase --continue"
[push]
	default = simple
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/jonas/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	#editor = code --wait
	editor = subl -n -w
[gpg]
	program = /usr/local/bin/gpg

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rebase]
	autosquash = true

