[user]
	name = Jonas Schmid
	email = jonas.schmid@gmail.com
	signingkey = 8590A344C55C2E078D5C7D8735C97890C7465518
[credential]
	helper = osxkeychain
[alias]
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u | sed -r 's/ /\\\\ /g' ; }; f | xargs code"
	l = "log --pretty=oneline --abbrev-commit"
	s = "status -sb"
	r = "rebase"
	ri = "rebase -i"
	ra = "rebase --abort"
	rc = "rebase --continue"
[push]
	default = simple
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/jonas/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = code --wait
[gpg]
	program = gpg

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rebase]
	autosquash = true

[pull]
	ff = only

[includeIf "gitdir:~/dev/fairtiq/"]
  path = .gitconfig-fairtiq
